#navbar-iframe{display:none}
body {
  padding-top:51px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  font-family:sans-serif;
}

hr {margin-top:0;margin-bottom:0}
a, a:hover, a:focus {transition:.5s;text-decoration:none;}
h1,h2,h3,h4 {font-weight:400}
/*.jumbotron {padding:15px;margin-bottom: 10px}*/
#mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:6px;}
/* reset Style status msg body */
.status-msg-border {display: none}
.status-msg-body {position:relative;padding:8px;padding:0;margin:-5px -7px}

#mmbb-header {padding-bottom:0}
#mmbb-header .alert{margin-bottom: 7px;padding:10px;line-height:1.2em;} 
#mmbb-header .alert h4 {margin:0 3px 5px;} #mmbb-header .alert a {text-decoration:underline;}
#mmbb-header .breadcrumb {margin-bottom:0;border:1px solid #ddd}

#mmbb-main > .list-group {margin-bottom:6px}

.mmbb-home-post .list-group-item .media-title > h5{line-height:1.3em;margin:0 0 5px 0;}
.mmbb-home-post .media{margin:-5px -5px -3px -7px;}
.mmbb-home-post .media-left {padding:2px 8px 3px 0;}
.widget .panel {margin-bottom:8px}

#mmbb-main .panel-body {padding:8px}
.mmbb-pager{margin-top:-8px;} /*margin-top -5px untuk home jarak ke widget */
#mmbb-main > .list-group + .mmbb-pager {margin-top: 20px}

.mmbb-disqus {margin-top:13px}
.panel-footer {text-align: center}
.mmbb-popularpost .list-group-item {padding:8px 5px 8px 8px}
.mmbb-popularpost .media-body p{margin-bottom:0}
.mmbb-popularpost .media-left {padding:2px 8px 3px 0px}
.mmbb-popularpost .media-left img,.mmbb-home-post .media-left img{height:80px;width:80px;}

.mmbb-category .panel-body {padding:11px 10px 0 14px;}
.mmbb-category .list-inline {padding: 0;margin-bottom:6px;}
.mmbb-category .list-inline li {margin-bottom:5px;padding:0;}
.mmbb-post-detail .panel-body {padding-bottom: 0}
.mmbb-post-detail .panel-heading {padding-left:8px }
.mmbb-post-detail > .panel .list-group .list-group-item {padding:6px 8px 6px;}
.mmbb-post-detail .panel-footer{/*border-radius: 0;border-bottom: 1px solid #ddd;*/padding-right:10px;}
/* .mmbb-postrelated > h5 {margin-left: 8px;margin-bottom:0;}
.mmbb-postrelated .list-group{margin-bottom: 0}
.mmbb-postrelated .list-group-item {border-radius: 0;border:none;padding-left:10px;}
.mmbb-postrelated .list-group-item:not(:first-child){border-top:1px solid #ddd;}
.mmbb-postrelated .list-group-item:last-child{border-radius:0 0 4px 4px} */

.mmbb-author .thumbnail {padding-top:8px;margin-bottom:0;}
.scroll-y {overflow-y:scroll; height:250px;}
.jqh-sharing h5{display:inline-block;margin:0;padding-right:10px;color:#777;}
.jqh-sharing a .icon{color: #bbb;transition:.5s}
.icon {
  display: inline-block;
  vertical-align: -15%;
  position:relative;
  font: normal normal normal 14px/1 mmbb-font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sm {font-size:1.33333333em;line-height: 0.75em;vertical-align: -30%}
.icon-md {font-size:1.66666666em;line-height: 1em;vertical-align: -28%}
.jqh-link:hover .jqh-googleplus,
.jqh-link:hover .jqh-googleplus-square,
.jqh-sharing a:hover .jqh-googleplus,
.jqh-sharing a:hover .jqh-googleplus-square {color:#DC4E41}

.jqh-link:hover .jqh-facebook,
.jqh-link:hover .jqh-facebook-square,
.jqh-sharing a:hover .jqh-facebook,
.jqh-sharing a:hover .jqh-facebook-square {color:#3B5998}

.jqh-link:hover .jqh-twitter,
.jqh-link:hover .jqh-twitter-square,
.jqh-sharing a:hover .jqh-twitter,
.jqh-sharing a:hover .jqh-twitter-square{color:#1DA1F2}

.jqh-sharing-colored a:hover .icon{color:#bbb;}
.jqh-link .icon, .jqh-link svg {color:#bbb}
svg{position:relative;fill:currentColor;vertical-align: -12.44444%}
.mmbb-blogroll .panel-body, .mmbb-archive .panel-body {padding:10px 10px 3px 10px}
#BlogArchive1_ArchiveList ul.posts > li:hover,
.mmbb-blogroll ul li:hover .text-muted{color:#000}

.mmbb-archive #ArchiveList ul {line-height:1.4em;list-style:none;padding:0;margin-right: 0}
#BlogArchive1_ArchiveList > ul:first-of-type{margin-left:-3px;}
#BlogArchive1_ArchiveList > ul ul li {padding-left: 17px} 

footer {padding-top:15px;border-top:1px solid #ddd}
.mmbb-post-detail img.pull-left {margin-right:5px;}
.mmbb-post-detail img.pull-right {margin-left:5px;}
@media (min-width:768px){
  .mmbb-disqus {margin-bottom: -7px}
  .mmbb-popularpost .media {font-size:90%}
  #mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:3px}
  #mmbb-header {padding-top: 6px}
  footer {margin-top:10px;}
  footer .flast {float:right;}
}
@media (max-width:991px){
  .mmbb-popularpost .list-group-item:hover, .mmbb-home-post .list-group-item:hover{background-color:#f1f1f1}
}
@media (min-width:767px){
#mmbb-main .pager{margin-bottom:8px} /*margin-top -5px untuk home jarak ke widget */	
}
@media (max-width:767px){
.mmbb-disqus {margin-bottom: -12px}
#mmbb-main > .list-group .list-group-item.bg-danger {padding:25px 15px !important;margin-bottom:-8px;}
.breadcrumb, .mmbb-popularpost, .mmbb-home-post {line-height:1.3em;}
.breadcrumb {padding-left: 8px}
.mmbb-category .btn{padding:3px 7px 2px;font-size:100%;}  
#mmbb-main .pager{margin-bottom:1px} /*margin-top -5px untuk home jarak ke widget */	
#mmbb-sidebar2 .widget:first-of-type {margin-top: -12px}	
 footer, footer .col-xs-12 {text-align:center}
}